In [8]:
import numpy as np
array = np.linspace(-3,3,num=100)
array * 10

array([-30.        , -29.39393939, -28.78787879, -28.18181818,
       -27.57575758, -26.96969697, -26.36363636, -25.75757576,
       -25.15151515, -24.54545455, -23.93939394, -23.33333333,
       -22.72727273, -22.12121212, -21.51515152, -20.90909091,
       -20.3030303 , -19.6969697 , -19.09090909, -18.48484848,
       -17.87878788, -17.27272727, -16.66666667, -16.06060606,
       -15.45454545, -14.84848485, -14.24242424, -13.63636364,
       -13.03030303, -12.42424242, -11.81818182, -11.21212121,
       -10.60606061, -10.        ,  -9.39393939,  -8.78787879,
        -8.18181818,  -7.57575758,  -6.96969697,  -6.36363636,
        -5.75757576,  -5.15151515,  -4.54545455,  -3.93939394,
        -3.33333333,  -2.72727273,  -2.12121212,  -1.51515152,
        -0.90909091,  -0.3030303 ,   0.3030303 ,   0.90909091,
         1.51515152,   2.12121212,   2.72727273,   3.33333333,
         3.93939394,   4.54545455,   5.15151515,   5.75757576,
         6.36363636,   6.96969697,   7.57575758,   8.18181818,
         8.78787879,   9.39393939,  10.        ,  10.60606061,
        11.21212121,  11.81818182,  12.42424242,  13.03030303,
        13.63636364,  14.24242424,  14.84848485,  15.45454545,
        16.06060606,  16.66666667,  17.27272727,  17.87878788,
        18.48484848,  19.09090909,  19.6969697 ,  20.3030303 ,
        20.90909091,  21.51515152,  22.12121212,  22.72727273,
        23.33333333,  23.93939394,  24.54545455,  25.15151515,
        25.75757576,  26.36363636,  26.96969697,  27.57575758,
        28.18181818,  28.78787879,  29.39393939,  30.        ])

In [20]:
#size可以放整數或tuple of ints
#low包含，high不包含，可以先放size再放high
content = np.random.randint(50,high=101,size=(50,5))

In [27]:
import pandas as pd
#給index及columns
df1 = pd.DataFrame(data = content,
             index=range(1,51),
             columns=['國文','英文','數學','地理','歷史'])

In [32]:
#print(df1)
(df1['國文']+df1['英文']+df1['數學']+df1['地理']+df1['歷史'])/5

1     76.2
2     66.0
3     74.6
4     69.8
5     77.6
6     70.8
7     73.6
8     70.4
9     77.2
10    78.2
11    77.8
12    80.0
13    69.0
14    77.0
15    78.6
16    69.6
17    68.0
18    74.2
19    72.4
20    89.4
21    79.6
22    66.2
23    64.2
24    67.6
25    68.6
26    87.6
27    67.6
28    59.8
29    81.2
30    78.4
31    67.8
32    78.2
33    71.6
34    74.2
35    70.8
36    78.0
37    70.8
38    69.0
39    75.0
40    82.0
41    70.4
42    83.8
43    76.2
44    73.2
45    70.4
46    82.0
47    72.2
48    72.8
49    72.0
50    78.2
dtype: float64

In [36]:
import pandas as pd
#給index及columns
df1 = pd.DataFrame(data = content,
             index=[f"第{i}號" for i in range(1,51)],
             columns=['國文','英文','數學','地理','歷史'])
df1

      國文  英文   數學  地理  歷史
第1號   89  96   55  89  52
第2號   65  77   53  71  64
第3號   58  63   79  76  97
第4號   83  94   54  54  64
第5號   60  95   71  90  72
第6號   61  50   99  91  53
第7號   54  90   73  64  87
第8號   80  84   54  75  59
第9號   73  86   52  90  85
第10號  80  54   72  89  96
第11號  93  79   82  53  82
第12號  65  71   94  87  83
第13號  70  52   66  69  88
第14號  51  86  100  59  89
第15號  83  73   70  71  96
第16號  91  52   50  94  61
第17號  63  56   65  84  72
第18號  94  55   70  63  89
第19號  53  73   85  75  76
第20號  87  80   85  99  96
第21號  97  53   75  84  89
第22號  63  55   72  62  79
第23號  55  63   63  67  73
第24號  50  99   83  56  50
第25號  55  59   77  86  66
第26號  97  99   90  55  97
第27號  78  50   64  81  65
第28號  50  83   64  50  52
第29號  95  77   92  63  79
第30號  90  74   68  80  80
第31號  54  95   84  55  51
第32號  67  98   97  63  66
第33號  84  84   60  59  71
第34號  66  70   93  86  56
第35號  71  72   78  78  55
第36號  58  90   67  92  83
第37號  56  89   56  85  68
第38號  57  61   68  69  90
第39號  51  93   85  74  72
第40號  72  96   79  95  68
第41號  59  75   80  56  82
第42號  85  79   84  81  90
第43號  93  97   50  72  69
第44號  94  85   80  56  51
第45號  54  55   54  90  99
第46號  91  76   61  93  89
第47號  61  97   57  82  64
第48號  96  57   73  51  87
第49號  70  54   94  58  84
第50號  88  76   54  97  76

In [37]:
df1.loc["第1號",:]

國文    89
英文    96
數學    55
地理    89
歷史    52
Name: 第1號, dtype: int64

In [38]:
df1.loc["第1號"]

國文    89
英文    96
數學    55
地理    89
歷史    52
Name: 第1號, dtype: int64

In [39]:
df1.loc[["第1號","第5號","第10號"]]

      國文  英文  數學  地理  歷史
第1號   89  96  55  89  52
第5號   60  95  71  90  72
第10號  80  54  72  89  96

In [40]:
df1.iloc[:5]

     國文  英文  數學  地理  歷史
第1號  89  96  55  89  52
第2號  65  77  53  71  64
第3號  58  63  79  76  97
第4號  83  94  54  54  64
第5號  60  95  71  90  72

In [41]:
df1.iloc[-6:]

      國文  英文  數學  地理  歷史
第45號  54  55  54  90  99
第46號  91  76  61  93  89
第47號  61  97  57  82  64
第48號  96  57  73  51  87
第49號  70  54  94  58  84
第50號  88  76  54  97  76

In [43]:
df1.loc['第17號':'第23號']

      國文  英文  數學  地理  歷史
第17號  63  56  65  84  72
第18號  94  55  70  63  89
第19號  53  73  85  75  76
第20號  87  80  85  99  96
第21號  97  53  75  84  89
第22號  63  55  72  62  79
第23號  55  63  63  67  73